@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #333;
}

ul{
  list-style: none;
}

.row-data {
  @apply py-2 px-4 border-b whitespace-nowrap
}